.header {
    background-color: rgba(12, 10, 9, 0.937);
}

.container__navbar {
    max-width: 80%;
    margin: 0 auto;
}


.navbar__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-size: 22px;

}

.ul__navbar-list {
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 18px;
}




.a__navbar-link {
    color: #f8fafc;
    /* font-size: 20px; */
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none
}

/* .bluee {
    color: #8db9ee;
} */

.ul__navbar-div {
    align-items: center;
}


.li__navbar-element a:hover {

    color: #8db9ee;
}

.navbar__social-div {
    position: absolute;
    right: 2%;
    top: 2%;
}



.a__navbar-btn {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    width: 12em;
    height: 2.5em;
}

.a__navbar-btn:hover {
    background-color: #8db9ee;
}



.a__navbar-btn a {
    text-decoration: none;
    font-weight: 700;
    color: black;

}

/*
 ===================================
 */

@media screen and (max-width: 768px) {
    .navbar__div {
        flex-direction: column;
        margin: 0;
    }

    .ul__navbar-list {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .li__navbar-element {
        margin: 10px 0;
    }

    .li__navbar-element a {
        font-size: 18px;
    }
}





/*  */

.container__secion-navbar {
    height: 200px;
    background-color: aliceblue;
}