.price__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    width: 80%;
    margin: 4em auto;
}

/* Stylowanie kontenerów z cenami */
.price__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: #eee;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

/* Stylowanie tytułów kontenerów */
.container__title {
    grid-column: 1 / span 2;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

/* Stylowanie cen */
.price__container p {
    font-size: 18px;
    margin: 0;
    text-align: left;
}


.price {
    font-weight: 700;
}

/* Media queries dla ekranu o szerokości 768px */
@media screen and (max-width: 768px) {
    .price__section {
        grid-template-columns: 1fr;
    }
}

/* Media queries dla ekranu o szerokości 460px */
@media screen and (max-width: 460px) {
    .price__section {
        grid-gap: 10px;
    }

    .price__container {
        grid-template-columns: 1fr;
    }

    .container__title {
        font-size: 20px;
    }

    .price__container p {
        font-size: 16px;
    }
}